<form class="field has-addons" action="/" method="GET">
    <input type="hidden" name="mode" value="search" />
    <input class="control input" type="text" name="query" value="{{ query }}" placeholder="Suche Station nach Name">
    <button class="control button is-primary" type=submit>
        <i class="la la-chevron-right"></i>
    </button>
</form>
