{%- macro station_tile_list(stations) -%}
    <style>
        .station-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        /* tile sizing */
        .station-list .button {
            --seperation-size: 14px;

            width: calc(50% - var(--seperation-size)/2);
            height: 140px;

            margin-bottom: var(--seperation-size);
        }
        .station-list .button:nth-child(odd) {
            margin-right: var(--seperation-size);
        }

        /* tile styling */
        .station-list .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-size: cover;
            background-position-y: center;
            border: none;
            box-shadow: 3px 3px 8px #212121;
        }
        .station-list .button .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            z-index: 1;

            background-color: rgba(221, 43, 43, 0.7);
        }
        .station-list .button p {
            z-index: 10;

            white-space: normal;
        }
        .station-list .button p.abbrev {
            opacity: 0.85;
            font-size: 125%;

            margin-bottom: 0;
        }
    </style>

    <div class="station-list">
        {% for station in stations %}
            <a class="button is-primary" href="{{ station.abbrev }}"
               style="background-image: url('{{ station.photo_url }}')"
            >
                <span class="overlay"></span>
                <p class="abbrev">{{ station.abbrev }}</p>
                <p>{{ station.name }}</p>
            </a>
        {% endfor %}
    </div>

{%- endmacro %}
