{%- macro station_entries_list(entries, bs_abbrev) -%}
    <!--suppress CssUnusedSymbol -->
    <style>
        .entry .box {
            margin-bottom: 7px;
        }

        .entry .box.train-class- {  /* SEV */
            border-left: 5px solid #903373;
        }
        .entry .box.train-class-S {  /* S-Bahn */
             border-left: 5px solid #408335;
        }
        .entry .box.train-class-N {  /* RE, RB */
             border-left: 5px solid #F01414;
        }
        .entry .box.train-class-F {  /* ICE, IC */
             border-left: 5px solid #F0F3F5;
        }
        .entry .box.train-class-D {  /* NE */
             border-left: 5px solid #0A1E6E;
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .col {
            display: flex;
            flex-direction: column;
            min-width: 0;
        }
        .col:not(:last-child) {
            padding-right: 5px;
        }

        .col div {
            height: 1.3rem;
        }
    </style>

    {% if entries %}
        {% for entry in entries %}
            <a class="entry" href="/{{ bs_abbrev }}/{{ entry.number }}">
                <div class="box {{ 'train-class-' + entry.class_ }}">
                    <div class="content">
                        <div class="row">
                            <div class="col" style="flex: 0 0 10ex;">
                                <div>
                                    <span class="{{ 'text-warning strike-text' if entry.is_cancelled }}">
                                        {{ entry.name }}
                                    </span>
                                </div>
                                <div class="smaller-text \
                                    {{ 'tag is-warning' if entry.actual_platform != entry.scheduled_platform }}"
                                >
                                    Gl {{ entry.actual_platform }}
                                </div>
                            </div>
                            <div class="col" style="flex: 1 1 1ex;">
                                <div style="display: flex; flex-direction: row; align-items: flex-end;">
                                    {% if entry.is_cancelled %}
                                        <i class="la la-ban text-warning" style="padding-right: 3px;"></i>
                                    {% endif %}
                                    {% if entry.has_messages %}
                                        <i class="la la-comment text-warning" style="padding-right: 3px;"></i>
                                    {% endif %}
                                    <div class="ellipsis-text">
                                        {{ entry.destination }}
                                    </div>
                                </div>
                                <div class="ellipsis-text smaller-text">
                                    {{ entry.via }}
                                </div>
                            </div>
                            <div class="col" style="flex: 0 0 5ex;">
                                <div class="{{ 'tag is-warning' if entry.is_changed_arrival }}">
                                    {{ entry.actual_arrival if entry.actual_arrival is not none }}
                                </div>
                                <div class="{{ 'tag is-warning' if entry.is_changed_departure }}">
                                    {{ entry.actual_departure if entry.actual_departure is not none }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <h4 class="title is-4">
            Keine Echtzeit-Daten für diese Station verfügbar.
        </h4>
        <p>
            Die DB-API stellt nur für Verbindungen in den nächsten zwei Stunden Daten zur Verfügung.
        </p>
    {% endif %}

{%- endmacro %}
