<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Dark-DBF</title>

    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">

    <link rel="manifest" href="{{ url_for('static', filename='dark-dbf.webmanifest') }}">

    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.min.css') }}">

    {% block head %}{% endblock %}
</head>


<body>
    <style>
        /** General layout: **/

        body {
            /* Disable native pull-to-refresh but allow over-scroll glow effects */
            overscroll-behavior-y: contain;
        }

        .content-container {
            max-width: 600px;
        }
        .content-container .title.is-4 {
            margin-top: 21px;
            margin-bottom: 7px
        }


        /** Page elements: **/

        .header {
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .header .title {
            margin: 0;
        }
        .header .button, .header .button-placeholder {
            width: 42px;
        }

        .refresh-prompt {
            color: #f0f0f0;
            font-size: 85%;
            text-align: center;

            background-color: rgba(221, 43, 43, 0.7);
            overflow: hidden;
            transition-property: opacity, height;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;

            /* hide initially: */
            opacity: 0;
            height: 0;
            line-height: 0;
            padding: 0;
        }
        .refresh-prompt.show {
            opacity: 1;
            height: auto;
            line-height: normal;
            padding: 7px;
        }


        /** Custom styled elements: **/

        .smaller-text {
            font-size: 80%;
            margin-top: 0.17rem;
        }
        .strike-text {
            text-decoration: line-through;
        }

        ::selection {
            color: white;
            background: #dd2b2b;
        }

        hr {
            opacity: 0;
        }


        /** Loading overlay: **/

        .loading-overlay {
            z-index: 10;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(35, 39, 42, 0.84);

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        div.loading-anim {
            float: left;
            background: transparent;
            height: 10px;
            width: 24px;
            margin-right: 1px;
            display: inline-block;

            animation: loading-anim-wave 0.70s infinite ease-in;
        }
        div.loading-anim:not(:last-child) {
            margin-right: 7px;
        }
        .loading-anim.loading-anim-block1 {
            animation-delay: 0.0s;
        }
        .loading-anim.loading-anim-block2 {
            animation-delay: 0.07s;
        }
        .loading-anim.loading-anim-block3 {
            animation-delay: 0.14s;
        }
        .loading-anim.loading-anim-block4 {
            animation-delay: 0.21s;
        }
        .loading-anim.loading-anim-block5 {
            animation-delay: 0.28s;
        }
        .loading-anim.loading-anim-block6 {
            animation-delay: 0.35s;
        }
        .loading-anim.loading-anim-block7 {
            animation-delay: 0.42s;
        }

        @keyframes loading-anim-wave {
            50% {
                background: #dd2b2b;
            }
        }
    </style>


    <div class="header hero is-primary">
        {% block header %}{% endblock %}
    </div>

    <div id="refresh-prompt" class="refresh-prompt">
        Loslassen um neu zu laden...
    </div>

    <section class="section">
        <div id="content-container" class="container content-container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <section id="loading-overlay" class="loading-overlay is-hidden">
        <div class="loading-anim loading-anim-block1"></div>
        <div class="loading-anim loading-anim-block2"></div>
        <div class="loading-anim loading-anim-block3"></div>
        <div class="loading-anim loading-anim-block4"></div>
        <div class="loading-anim loading-anim-block5"></div>
        <div class="loading-anim loading-anim-block6"></div>
        <div class="loading-anim loading-anim-block7"></div>
    </section>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>