{% extends 'base.jinja2' %}

{% from 'partials/station-tile-list.jinja2' import station_tile_list %}


{% block title %}Home{% endblock %}


{% block content %}
    <style>
        h3 {
            font-weight: normal;
        }

        .favourites .placeholder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .favourites .placeholder h3 {
            margin-bottom: .21em;
        }

        .note {
            text-align: center;
        }
    </style>

    <div class="content">
        <h3>Suche</h3>
        <form class="field has-addons" action="/" method="GET">
            <input type="hidden" name="mode" value="abbrev" />
            <input class="control input" type="text" name="abbrev" placeholder="Stations-Kürzel (DS1000)">
            <button class="control button is-primary" type=submit>
                <i class="la la-chevron-right"></i>
            </button>
        </form>
        {% include 'partials/search-input.jinja2' %}

        <h3>Favoriten</h3>
        <div class="favourites">
            {% if favs %}
                {{ station_tile_list(favs) }}
            {% else %}
                <div class="placeholder">
                    <h3>So leer hier...</h3>
                    <p>
                        Füge Favoriten hinzu, indem du auf der Seite einer Station auf den
                        <i class="la la-star-o"></i>
                        Button tippst.
                    </p>
                </div>
            {% endif %}
        </div>

        <hr/>

        <div class="note">
            <a href="https://gitlab.com/LucaVazz/dark-dbf" target="_blank" class="smaller-text">
                <i class="la la-github-square"></i>
                About / Source Code
            </a>
        </div>
    </div>
{% endblock %}
