{% extends 'base.jinja2' %}

{% from './partials/station-entries-list.jinja2' import station_entries_list %}


{% block title %}Abfahrten für {{ name }}{% endblock %}


{% block header %}
    <a class="button is-primary is-inverted is-outlined" href="/">
        <i class="la la-home"></i>
    </a>
    <h1 class="title is-4">{{ name }}</h1>
    <a class="button is-primary is-inverted is-outlined" href="?mode=details">
        <i class="la la-ellipsis-v"></i>
    </a>
{% endblock %}


{% block content %}
    {{ station_entries_list(entries, bs_abbrev) }}

{% endblock %}
